.clock-bg {
  background-image: linear-gradient(0deg, #e1e1e1, #ededed);
  background-size: 100px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;

  &:before {
    content: "CSS";
    position: absolute;
    font-size: 10vw;
    color: #00000026;
    left: 17%;
    font-weight: bold;
  }

  &:after {
    content: "ONLY";
    position: absolute;
    font-size: 10vw;
    color: #00000026;
    right: 10%;
  }

  .clock {
    background: white;
    width: 500px;
    height: 500px;
    position: relative;
    font-size: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 20px black, 0 10px 50px 0 black, inset 2px 2px 20px 0 black;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      background: gray;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      box-shadow: 2px 2px 5px 0 #0000008c;
    }

    .hour-line {
      position: absolute;
      left: 205px;
      margin: auto;
      width: 10px;
      border-radius: 10px;
      background: #c0c0c0;
      box-shadow: -1px 0px 5px 0 #0000008c;
      height: 130px;
      top: 137px;
      transform: rotate(-40deg);
    }

    .minute-line {
      position: absolute;
      left: 205px;
      border-radius: 10px;
      margin: auto;
      box-shadow: -1px 0px 5px 0 #0000008c;
      width: 5px;
      background: grey;
      height: 170px;
      top: 93px;
      transform: rotate(-30deg);
    }

    .second-line {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 3px;
      height: 300px;
      top: 100px;
      animation: rotate 60s normal infinite steps(60, end);

      &:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 150px;
        background: red;
        box-shadow: 3px 3px 10px 0 #00000075;
      }
    }

    .clock-numbers {
      transform: rotate(47deg);
      width: 400px;
      height: 400px;
      margin: auto;
      position: absolute;
      left: 50px;
      top: -20px;

      .hour-number {
        position: absolute;
        left: 85px;
        top: 85px;
        width: 330px;
        height: 330px;
        transform: rotate(calc(30deg * var(--i)));

        span {
          transform: rotate(-47deg);
          position: absolute;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
