<div class="entry-block" id="move">
  <div class="card" id="card">
    <div class="img-block">
      <img [src]="'cross.png' | assets" alt="" id="crossovok">
    </div>

    <div class="content">
      <h2>Adidas XR</h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel doloremque omnis officia culpa eius eligendi, impedit ratione.</p>

      <div class="size">
        <button>S</button>
        <button>M</button>
        <button>L</button>
        <button>X</button>
      </div>

      <button class="buy">Buy crossovok</button>
    </div>
  </div>
</div>
