<div [class.night-mode]="toggleNightMode">
  <header>
    <div class="logo">
      <h1>Logotype</h1>
    </div>

    <div class="menu">
      <div class="moved-background" [ngStyle]="{'left': selectedMenuItem * 20 + '%'}"></div>

      <button *ngFor="let item of mochDataService.menuItems"
              [class.active]="item.id === selectedMenuItem"
              (click)="selectedMenuItem = item.id">
        {{item.label}}
      </button>
    </div>
  </header>

  <main>
    <aside>
      <div *ngFor="let item of mochDataService.menuItems"
           class="sidebar-button"
           [class.active]="item.id === selectedSidebarItem"
           (click)="selectedSidebarItem = item.id">
        <div class="label">{{item.label}}</div>
        <div *ngIf="item.id === selectedSidebarItem" class="active-background" @slideActiveBackground>
          <div class="top-corner"></div>
          <div class="bottom-corner"></div>
        </div>
      </div>

      <app-toggler (click)="toggleNightMode = !toggleNightMode">Night Mode</app-toggler>
    </aside>

    <div [ngSwitch]="selectedSidebarItem" class="body">
      <div *ngSwitchCase="0">
        <div class="horizontal-cards">
          <div  *ngFor="let card of [1,2,3,4]; let i = index"
                [class.active]="selectedChartBarDataId === i + 1"
                class="horizontal-card"
                (click)="changeBerChartData(i + 1)">
            <h3 class="mb-3">Card {{ card }}</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, vitae!</p>
          </div>
        </div>

        <div class="chart-block m-auto" style="display: block;">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [type]="barChartType">
          </canvas>
        </div>
      </div>
      <div *ngSwitchCase="1">
        2
        <div class="chart-block" style="display: block;">
          <canvas baseChart
                  [data]="polarAreaChartData"
                  [labels]="polarAreaChartLabels"
                  [legend]="polarAreaLegend"
                  [type]="polarAreaChartType">
          </canvas>
        </div>

      </div>
      <div *ngSwitchCase="2">
        <div class="chart-block" style="display: block;">
          <canvas baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [type]="radarChartType">
          </canvas>
        </div>
      </div>
      <div *ngSwitchCase="3">
        <div class="chart-block" style="display: block;">
          <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [type]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
      <div *ngSwitchCase="4">
        <div class="chart-block" style="display: block;">
          <canvas baseChart
                  [datasets]="bubbleChartData"
                  [options]="bubbleChartOptions"
                  [legend]="bubbleChartLegend"
                  [type]="bubbleChartType">
          </canvas>
        </div>
      </div>
    </div>
  </main>
</div>
