<section>
  <div class="all-cards">
    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img alt="" [src]="'block1.jpg' | assets">
        </div>

        <div class="contentBx">
          <div>
            <h2>Title 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, eum excepturi quod consectetur
              error molestiae tenetur ea, voluptatibus fugit ratione deserunt hic voluptates laudantium a illum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img alt="" [src]="'block2.jpg' | assets">
        </div>

        <div class="contentBx">
          <div>
            <h2>Title 2</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, eum excepturi quod consectetur
              error molestiae tenetur ea, voluptatibus fugit ratione deserunt hic voluptates laudantium a illum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img alt="" [src]="'block3.jpg' | assets">
        </div>

        <div class="contentBx">
          <div>
            <h2>Title 3</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, eum excepturi quod consectetur
              error molestiae tenetur ea, voluptatibus fugit ratione deserunt hic voluptates laudantium a illum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img alt="" [src]="'block4.jpg' | assets">
        </div>

        <div class="contentBx">
          <div>
            <h2>Title 4</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, eum excepturi quod consectetur
              error molestiae tenetur ea, voluptatibus fugit ratione deserunt hic voluptates laudantium a illum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img alt="" [src]="'block5.jpg' | assets">
        </div>

        <div class="contentBx">
          <div>
            <h2>Title 5</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, eum excepturi quod consectetur
              error molestiae tenetur ea, voluptatibus fugit ratione deserunt hic voluptates laudantium a illum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img alt="" [src]="'block6.jpg' | assets">
        </div>

        <div class="contentBx">
          <div>
            <h2>Title 6</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, eum excepturi quod consectetur
              error molestiae tenetur ea, voluptatibus fugit ratione deserunt hic voluptates laudantium a illum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
